<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.upb.de/crypto/zeroknowledge/ZeroKnowledge"
			class = "de.upb.crypto.zeroknowledge.zeroKnowledge.ZeroKnowledgePackage"
			genModel = "model/generated/ZeroKnowledge.genmodel" />
	</extension>
</plugin>
