<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.cryptimeleon.org/zeroknowledge/ZeroKnowledge"
			class = "org.cryptimeleon.zeroknowledge.zeroKnowledge.ZeroKnowledgePackage"
			genModel = "model/generated/ZeroKnowledge.genmodel" />
	</extension>
</plugin>
