::selection {
	background: #27ae60;
	color: white;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font: 16px Helvetica,sans-serif;
	zoom: 100%;
}

button::-moz-focus-inner {
  border: 0;
}

a {
	color: #22a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#data {
	display: none;
}

#container {
	display: block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	right: 0;
	margin: 0;
}

#header {
	display: flex;
	position: relative;
	background-color: #e8e8e8;
	top: 0;
	left: 0;
	right: 0;
	height: 5%;
	max-height: 5%;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-top: 0;
	background-color: #2F3129;
	align-items: center;
}

#header-title {
	margin-left: 10px;
	font-size: 22px;
	color: white;
	font-family: Monospace;
	font-weight: normal;
	float: left;
}

#links {
	margin-left: auto;
}

.header-link {
	font-size: 18px;
	font-family: Helvetica;
	float: right;
	padding-right: 10px;
	color: white;
}

#content {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 95%;
	max-height: 95%;
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

#editing {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 60%;
	max-width: 60%;
	height: 100%;
	max-height: 100%;
	float: left;
	background-color: #424242;
}

#xtext-editor {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	padding: 0px;
	border-style: solid;
	border-bottom-width: 4px;
	border-color: #2F3129;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#features {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 40%;
	max-width: 40%;
	height: 100%;
	max-height: 100%;
	float: right;
}

#preview {
	display: flex;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 65%;
	max-height: 65%;
	width: 100%;
	max-width: 100%;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #424242;
	border-style: solid;
	border-width: 10px;
	border-top-width: 0;
	border-color: #2F3129;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 16px;
	font-family: monospace;
}

#preview-zoom {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 97%;
	top: 0;
	bottom: 0;
	height: 10%;
	max-height: 10%;
	width: 100%;
	max-width: 100%;
}

.zoom-wrapper {
	display: inline-block;
	position: absolute;
}

.zoom-button {
	display: flex;
	height: 20px;
	width: 20px;
	align-items: center;
	justify-content: center;
	background-color: #424242;
	border-style: solid;
	border-width: 3px;
	border-color: #2F3129;
	font-size: 24px;
	font-family: monospace;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.zoom-button:hover {
	border-color: #424242;
	background-color: #5e5e5e;
}

#zoom-out {
	top: 26px;
	left: 0;
}

#zoom-in {
	top: 0;
	left: 0;
}

#latex-code {
	display: none;
}

#latex-preview {
	display: inline-block;
	position: relative;
	align-items: center;
	vertical-align: center;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	text-align: center;
}

#control {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35%;
	max-height: 35%;
	width: 100%;
	max-width: 100%;
}

#options {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70%;
	max-height: 70%;
	width: 100%;
	max-width: 100%;
}

#options-checkboxes {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 75%;
	max-height: 75%;
	width: 100%;
	max-width: 100%;
	border-style: solid;
	border-width: 10px;
	border-top-width: 0;
	border-color: #303030;
	background-color: #424242;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.checkbox-wrapper {
	display: flex;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25%;
	max-height: 25%;
	width: 100%;
	max-width: 100%;
	align-items: center;
}

.option-checkbox {
	margin-left: 10px;
	margin-right: 10px;
	outline: 0;
	height: 3vh;
	width: 3vh;
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	outline: 0;
	padding: 0;
	border-style: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.checkbox-text {
	font-family: Arial;
	font-size: 15px;
	color: white;
	-moz-user-select: -moz-none;
  -webkit-user-select: none;
}

.checkbox-text.disabled {
	color: #777777;
}

.checkbox-off {
	background-color: #9A9A9A;
}

.checkbox-on {
	background-color: #4CB050;
}

.checkbox-on:focus, .checkbox-on:hover {
	background-color: #66BB6A;
}

.option-checkbox.disabled, .checkbox-off.disabled, .checkbox-on.disabled {
	background-color: #777777;
	cursor: default;
}

.checkbox-icon {
	height: 75%;
	width: 75%;
	-webkit-user-drag: none;
	-moz-user-drag: none;
}

#options-buttons {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25%;
	max-height: 25%;
	width: 100%;
	max-width: 100%;
	background-color: #27ae60;

}

.left, .right {
	display: flex;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	max-width: 50%;
	height: 100%;
	max-height: 100%;
	float: left;
	align-items: center;
	justify-content: center;
}

.options-button {
	border-style: solid;
	border-width: 3px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	left: auto;
	right: auto;
	outline: 0;
	font-size: 13px;
	font-family: Arial;
	color: white;
	border-color: #43A047;
	background-color: #4CB050;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}

.options-button:hover, .options-button:focus {
	border-color: #4CB050;
	background-color: #66BB6A;
}

.options-button:disabled{
	border-color: #607D8B;
	background-color: #78909C;
	cursor: default;
}

#console {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	height: 30%;
	max-height: 30%;
	width: 100%;
	max-width: 100%;
	background-color: #424242;
	border-style: solid;
	border-width: 10px;
	border-color: #303030;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: white;
	font-family: monospace;
	font-size: 14px;
}

#console::selection {
	background: #27ae60;
}

.info::selection, .error::selection, .warning::selection {
	background: #27ae60;
	color: white;
}

.error {
	color: #e74c3c;
}

.warning {
	color: #f1c40f;
}

.info {
	color: #3498db;
}
